/* Indholdsfortegnelse: */


/*

 1. GENERAL
     1.1 TEXT


 2. NAVIGATION
     2.1 BURGER MENU
     2.2 NAV


 3. HEADER


 4. MAIN
     4.1 SECTION
         4.1.1 HVEM ER VI?
     4.2 SUB-SECTION
         4.2.1 MEDARBEJDERE
     4.3 GALLERY
     4.4 WEBSHOP


 5. FOOTER


 6. HELPERS


 7.MEDIA QUERIES



*/



/*---------------------------------------------------- 1. GENERAL ---------------------------------------*/

:root {
    --main-body-font: 'Open Sans', sans-serif;
    --main-design-color: #020c2e;
    --main-background-color: rgba(252, 252, 252, 0.8);
    --main-padding: 10px;
    /*Variabel, så vi kan tilføje mere eller mindre padding til alle elementer på siden*/
}

body {
    margin: 0;
    /*Fjerner standard margin på 8px fra siden*/
}

img {
    width: 100%;
    /*Gør at billeder passer ind i div'er i stedet for at vises i fuld størrelse*/
}


/*-------------------------------------------------------- 1.1 TEXT ---------------------------------------*/

html {
    font-family: var(--main-body-font);
}

/*Giver h1 og h2 en streg over teksten, som passer med bredden på teksten*/
h1,
h2 {
    border-top: 1px solid var(--main-design-color);
    width: fit-content;
}

/*Gør at h1 har luft over- og under, og lige så meget padding i siderne som resten af siden*/
h1 {
    margin: 10vh var(--main-padding);
}


/*---------------------------------------------------- 2. NAVIGATION ---------------------------------------*/

/*--------------------------------------------------- 2.1 BURGER MENU -------------------------------------*/
.burger_menu {
    width: 94vw;
    /*Sat til 94, så det bliver 100 sammen med padding*/
    height: 30px;
    padding: 3vw;
    background-color: var(--main-background-color);
    text-align: right;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.13);
    position: fixed;
    top: 0;
    z-index: 100;
    /*Menuen ligger altid øverst*/
}

.burger_menu img {
    height: 100%;
    width: auto;
}


/*---------------------------------------------------------- 2.2 NAV ---------------------------------------*/

nav {
    height: 100vh;
    width: 90vw;
    /*Sat til 90 så det bliver 100 med padding*/
    padding: 0 5vw;
    background-color: var(--main-design-color);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
}

/*Liste med menupunkter*/
nav ul {
    padding: 0 0 200px 0;
    /*Rykker menuen op, så den ikke er helt i midten men lidt over*/
    list-style: none;
    /*Fjerner standard list-styling (dvs. bullets)*/
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
}


/*--------------------------------------------------------- 3. HEADER ---------------------------------------*/

header {
    height: 100vh;
    /*Skal altid være lige så høj som skærmen*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*Logo i toppen af mobil-versionen*/
.mobile_logo {
    max-width: 70%;
    margin-top: 7vh;
    /*Får logoet ned under burger-menuen*/
}

.header_arrow {
    position: absolute;
    top: 90vh;
    width: auto;
    /*Sørger for, at den ikke er lige så bred som div'en og bliver strukket*/
}

#myVideo {
    position: absolute;
    bottom: 20vw;
    width: 100%;
    /*
    min-width: 100%;
    min-height: 100vh;
*/
    z-index: -1;
}


/*----------------------------------------------------------- 4. MAIN ---------------------------------------*/

main {
    max-width: 1300px;
    /*Sætter max på, så vi har lidt styr på, hvordan det ser ud på en større skærm*/
}


/*--------------------------------------------------------- 4.1 SECTION -------------------------------------*/

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    /*display: flex;*/
    align-items: center;
    /*    padding: 50px 0;*/
    /*Sørger for, at der altid er noget white space omkring content-boksene*/
}



.content {
    padding: var(--main-padding);
}

/*Sørger for, at hveranden content box får baggrundsfarve*/
section:nth-of-type(odd) .content {
    background-color: #F3F3F3;
}

.text_content,
.image_content {
    flex: 1;
}

/*Giver en streg 30px under p'er*/
.text_content {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--main-design-color);
    margin-bottom: 10px;
}

/*------------------  4.1.1 HVEM ER VI? --------------------*/
.hvemervi .content {
    display: grid;
    grid-template-columns: 1fr;
}


/*--------------------------------------------------------- 4.2 SUB-SECTION -------------------------------------*/

.sub_section {
    margin-bottom: 150px;
}

/*Sørger for, at den sidste medarbejder ikke har margin under sectionen*/
.sub_section:last-child {
    margin-bottom: 0;
}

/*Centrerer navnet og stillingen på medarbejderen, uden at centrere overskrifterne på resten af siden*/
.sub_section h3,
.sub_section h4 {
    width: 100%;
    text-align: center;
}


/*-------------------- 4.2.1 MEDARBEJDERE -------------------*/
.medarbejdere {
    display: grid;
    grid-template-columns: 1fr;
}



/*--------------------------------------------------------- 4.3 GALLERY -----------------------------------------*/

.gallery {
    display: grid;
    min-height: 100vh;
    align-items: center;
    padding: var(--main-padding);
    grid-template-columns: 1fr;
}

.gallery img {
    background-color: lightsteelblue;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(2, 12, 46, 0.86);
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*----------------------------------------------------------- 4.4 WEBSHOP -----------------------------------------*/

#webshop p {
    border: none;
}

#webshop .text_content {
    padding-bottom: 30px;
    border-bottom: 2px solid var(--main-design-color);
}

.webshop_button {
    max-width: 70%;
    background-color: var(--main-design-color);
    color: white;
    margin: 0 auto 10px auto;
    padding: 20px 10px;
    text-align: center;
}


/*------------------------------------------------------------- 5. FOOTER ----------------------------------------*/

footer {
    position: relative;
    bottom: 0;
    left: 0;
    color: white;
    background-color: var(--main-design-color);
    text-align: center;
    line-height: 50px;
}

/*-------------------------------------------------------------- 6. HELPERS ---------------------------------------*/

.hidden {
    display: none;
}






/*----------------------------------------------------- 7. MEDIA QUERIES (web) ---------------------------------------*/


@media screen and (min-width: 850px) {

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .medarbejdere {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hvemervi .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 850px) {

    .burger_menu {
        display: none;
    }
}

@media screen and (max-width: 850px) {

    .gallery {
        display: none;
    }
}

@media screen and (min-width: 850px) {

    .slideshow-container {
        display: none;
    }
}
