/* Indholdsfortegnelse: */


/*

 1. GENERAL
     1.1 TEXT


 2. NAVIGATION
     2.1 BURGER MENU
     2.2 NAV


 3. HEADER


 4. MAIN
     4.1 SECTION
         4.1.1 HVEM ER VI?
     4.2 SUB-SECTION
         4.2.1 MEDARBEJDERE
     4.3 GALLERY
     4.4 WEBSHOP


 5. FOOTER


 6. HELPERS


 7.MEDIA QUERIES



*/



/*---------------------------------------------------- 1. GENERAL ---------------------------------------*/

:root {
    --main-body-font: 'Open Sans', sans-serif;
    --main-heading-font: 'Montserrat', sans-serif;
    --main-design-color: #030c26;
    --main-background-color: #FCFCFC;
    --main-padding: 10px;
    /*Variabel, så vi kan tilføje mere eller mindre padding til alle elementer på siden*/
}

body {
    margin: 0;
    /*Fjerner standard margin på 8px fra siden*/
}

img {
    width: 100%;
    /*Gør at billeder passer ind i div'er i stedet for at vises i fuld størrelse*/
}

html {
    scroll-behavior: smooth;
}


/*-------------------------------------------------------- 1.1 TEXT ---------------------------------------*/

html {
    font-family: var(--main-body-font);
    color: var(--main-design-color);
}

a {
    /*text-decoration: none;*/
    color: #b46d3a;
}

/*Giver h1 og h2 en streg over teksten, som passer med bredden på teksten*/
h1,
h2 {
    border-top: 1px solid var(--main-design-color);
    width: fit-content;
}

h1,
h2,
h3,
h4 {
    font-family: var(--main-heading-font);
}

/*Gør at h1 har luft over- og under, og lige så meget padding i siderne som andet tekst*/
h1 {
    margin: 10vh var(--main-padding);
}


/*---------------------------------------------------- 2. NAVIGATION ---------------------------------------*/

/*--------------------------------------------------- 2.1 BURGER MENU -------------------------------------*/
.burger_menu {
    width: 94vw;
    /*Sat til 94, så det bliver 100 sammen med padding*/
    height: 30px;
    padding: 3vw;
    background-color: var(--main-background-color);
    text-align: right;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.13);
    position: fixed;
    top: 0;
    z-index: 100;
    /*Menuen ligger altid øverst*/
}

.burger_menu img {
    height: 100%;
    width: auto;
}


/*---------------------------------------------------------- 2.2 NAV ---------------------------------------*/

nav {
    height: 100vh;
    width: 90vw;
    /*Sat til 90 så det bliver 100 med padding*/
    padding: 0 5vw;
    background-color: var(--main-design-color);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
}

/*Liste med menupunkter*/
nav ul {
    padding: 0 0 200px 0;
    /*Rykker menuen op, så den ikke er helt i midten men lidt over*/
    list-style: none;
    /*Fjerner standard list-styling (dvs. bullets)*/
    margin-top: 100px;
}

nav ul li {

    margin: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.menu_stroke {
    width: 10px;
    opacity: 0;
    height: 100%;
}

nav ul li a.current .menu_stroke {
    opacity: 1;
}


/*--------------------------------------------------------- 3. HEADER ---------------------------------------*/

header {
    height: 100vh;
    /*Skal altid være lige så høj som skærmen*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*Logo i toppen af mobil-versionen*/
/*
.mobile_logo {
    max-width: 100%;
    margin-top: 17vh;
    height: 100vh;
    Får logoet ned under burger-menuen
}
*/

.mobile_logo img {
    width: 100%;
    margin-bottom: 65vw;
}

.header_arrow {
    position: absolute;
    top: 95vh;
    width: auto;
    /*Sørger for, at den ikke er lige så bred som div'en og bliver strukket*/
}

.header_arrow_white {
    display: none;
}

#myVideo {
    position: absolute;
    bottom: 20vw;
    /*den er sat til 100% fordi man skal kunne se hele videoen, og ikke hvor den er zoomet ind*/
    width: 100%;
    /*
    min-width: 100%;
    min-height: 100vh;
*/
    z-index: -1;
}


/*----------------------------------------------------------- 4. MAIN ---------------------------------------*/

main {
    max-width: 1300px;
    /*Sætter max på, så vi har lidt styr på, hvordan det ser ud på en større skærm*/
}


/*--------------------------------------------------------- 4.1 SECTION -------------------------------------*/
/*Bruges til de generelle, "almindelige" sektioner, såsom Hvem er vi?, som skal skifte farve ved hveranden*/

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    /*display: flex;*/
    align-items: center;
    /*    padding: 50px 0;*/
    /*Sørger for, at der altid er noget white space omkring content-boksene*/
}

.content {
    padding: var(--main-padding);
}

/*Sørger for, at hveranden content box får baggrundsfarve*/
section:nth-of-type(odd) .content {
    background-color: #F3F3F3;
}

.text_content,
.image_content {
    flex: 1;
}

/*Giver en streg 30px under p'er*/
.text_content {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--main-design-color);
    margin-bottom: 10px;
}


/*--------------------------------------------------------- 4.2 SUB-SECTION -------------------------------------*/
/*Bruges til flere dele med indhold i én section, som ikke skal skifte baggrundsfarve, bl.a. Vores team*/

.sub_section {
    margin-bottom: 150px;
}

/*Sørger for, at den sidste medarbejder ikke har margin under sectionen*/
.sub_section:last-child {
    margin-bottom: 0;
}

/*Centrerer navnet og stillingen på medarbejderen, uden at centrere overskrifterne på resten af siden*/
.sub_section h3,
.sub_section h4 {
    width: 100%;
    text-align: center;
}


/*--------------------------------------------------------- 4.4 BØGER -----------------------------------------*/

.bog {
    position: relative;
    line-height: 0;
    overflow: hidden;
}

.bog__details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F3F3F3;
    color: var(--main-design-color);
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.is_not_touch_device .bog__details {
    margin-top: 315px;
}

.is_not_touch_device .bog:hover .bog__details {
    margin-top: 0;
    height: 60%;
    padding: 20% 0;
}

.bog__title {
    margin: 20px 0;
}

.bog__p {
    line-height: 30px;
    margin: 0 5px;
}

.bog__release {
    padding: 20px;
    border: none;
}


/*-------- PORTFOLIO THUMBS FOR TOUCH --------*/

.is_touch_device .bog__details {
    margin-top: 260px;
}

.is_touch_device .bog__title {
    font-size: 1.5rem;
    margin: 20px 0;
}

.is_touch_device .bog__release {
    color: white;
    padding: 20px;
    border: none;
    font-size: 1.5rem;
    margin: 5px 0 50px 0;
}

.is_touch_device .bog__p {
    display: none;
}


/*--------------------------------------------------------- 4.4 GALLERY -----------------------------------------*/

.desktop_gallery {
    display: grid;
    min-height: 100vh;
    align-items: center;
    padding: var(--main-padding);
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 300px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*----------------------------------------------------------- 4.4 WEBSHOP -----------------------------------------*/

#webshop p {
    border: none;
}

#webshop .text_content {
    padding-bottom: 30px;
    border-bottom: 2px solid var(--main-design-color);
}

.webshop_button {
    max-width: 70%;
    background-color: var(--main-design-color);
    color: white;
    margin: 0 auto 10px auto;
    padding: 20px 10px;
    text-align: center;
}


/*------------------------------------------------------------- 5. FOOTER ----------------------------------------*/

footer {
    position: relative;
    bottom: 0;
    left: 0;
    color: white;
    background-color: var(--main-design-color);
    text-align: center;
    line-height: 50px;
}

/*-------------------------------------------------------------- 6. HELPERS ---------------------------------------*/

.hidden {
    display: none;
}

.mobile_hidden {
    display: none;
}

.mobile_hidden .menu_logo {
    width: 100%;
    margin-top: 100px;
}


/*----------------------------------------------------- 7. MEDIA QUERIES (tablet) ---------------------------------------*/

/*LOGO inden loop video*/
@media screen and (min-width: 555px) {
    .mobile_logo img {
        width: 85%;
        margin-top: 5vh;
        margin-left: 4vw;
    }

    #myVideo {
        bottom: 16vw;

    }
}

@media screen and (min-width: 605px) {
    .mobile_logo img {
        width: 85%;
        margin-top: 8vh;
        margin-left: 4vw;
    }

    #myVideo {
        bottom: 11vw;

    }

}





/*----------------------------------------------------- 7. MEDIA QUERIES (web) ---------------------------------------*/

@media screen and (min-width: 767px) {

    /*----- 3. HEADER -----*/

    #myVideo {
        bottom: 0;
        right: 0;
        width: 100vw;
    }

    .mobile_logo {
        display: none;
    }

    .header_arrow_white {
        display: block;
    }

    .header_arrow_blue {
        display: none;
    }

    header {
        height: auto;
    }




/*----- 4. MAIN -----*/

    main {
        padding-left: 350px;
        padding-right: 50px;
        margin: 5vh auto;
        max-width: 1300px;
    }



    .vores_team_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
    }

    .sub_section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div:nth-of-type(odd).sub_section {
        flex-direction: row-reverse;
    }

    .bog .text_content {
        display: none;
    }


}


@media screen and (min-width: 850px) {

    .desktop_gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .medarbejdere {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hvemervi .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .slideshow-container {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .desktop_gallery {
        display: none;
    }
}

@media screen and (min-width: 1023px) {
    .burger_menu {
        display: none;
    }

    .mobile_hidden {
        display: flex;
    }

    nav {
        width: 250px;
        padding: 0 25px;
        position: sticky;
        top: 0;
    }

    nav ul li a {
        /*
        display: block;
        padding: 0.5rem 1rem;
*/
        color: white;
        text-decoration: none;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section:nth-of-type(odd) .content {
        flex-direction: row-reverse;
    }
}
